{% extends 'logs/logsbase.html' %}
{% from 'pagination.html' import render_pagination %}

{% block logs %}

<table class="table">
    <thead>
        <tr>
            <th>
                №
            </th>
            <th>
                Пользователь
            </th>
            <th>
                Название пластинки
            </th>
            <th>
                Дата
            </th>
        </tr>
    </thead>
    <tbody>
        {% for log in logs %}
        <tr>
            <td>
                {{loop.index}}
            </td>
            <td>
                {{log.user.full_name or 'Неаутентифицированный пользователь'}}
            </td>
            <td>
                {{log.plastinka.name}}
            </td>
            <td>
                {{ log.created_at }}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<div class="mt-4 mb-5">
    {{ render_pagination(pagination, request.endpoint) }}
</div>


{% endblock %}