<!doctype html>
<html lang="ru" class="h-100">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">

    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">

    <title>Образовательный портал | Московский Политех</title>
</head>

<body class="d-flex flex-column h-100">
    <header>
        <nav class="navbar navbar-dark bg-dark">
            <div class="container-fluid">
                <div class="logo navbar-brand">
                    <a href="{{ url_for('index') }}">
                        <img class="img-fluid" src="{{ url_for('static', filename='images/polytech_logo.png') }}" alt="polytech-logo">
                    </a>
                </div>
                {% if current_user.is_authenticated and current_user.can('get_logs') %}
                <a class="text-white link" href="{{ url_for('logs.users_statistics') }}">Административная панель Привет Влад</a>
                {% endif %}
            
            
                {% if current_user and current_user.is_authenticated %}
                    <div class="dropdown d-flex" style="width: 200px;">
                        <div class="profile ms-auto" title="{{ current_user.full_name }}" id="dropdownMenuButton" data-bs-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                            <img class="img-fluid rounded-circle cursor-pointer"
                                src="{{ url_for('static', filename='images/default-profile-picture-300x300.jpeg') }}" alt="profile-pic">
                        </div>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" href="#">{{ current_user.last_name }}</a>
    
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="{{ url_for('auth.logout') }}">Выйти</a>
                            <a class="dropdown-item" href="{{ url_for('auth.lk') }}">Личный кабинет  ПРИВЕТ ВЛАД</a>

                        </div>
                    </div>

                {% else %}
                    <div class="btn-group">
                        <a class="btn btn-outline-light" href="{{ url_for('auth.login') }}">Войти</a>
                        <a class="btn btn-outline-light" href="{{ url_for('auth.register') }}">Зарегистрироваться</a>
                    </div>
                {% endif %}
                
            </div>
        </nav>
    </header>
    {% with msg = get_flashed_messages(with_categories = true) %}
    {%for category, text_msg in msg%}
    <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
        {{ text_msg }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endfor %}
    {% endwith %}

    <main class="main flex-grow-1">
       {% block content %}
       {% endblock %}
    </main>

    <footer class="bg-dark text-white d-flex align-items-center justify-content-center py-3">
        &copy;
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
        crossorigin="anonymous"></script>

    <script defer src="{{ url_for('static', filename='main.js') }}"></script>
    <script defer src="{{ url_for('static', filename='book.js') }}"></script>
</body>

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/easymde/dist/easymde.min.css">
<script src="https://cdn.jsdelivr.net/npm/easymde/dist/easymde.min.js"></script>
</html>
