{% extends 'base.html' %}

{% block content %}
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <h2 class="card-title text-center">Смена пароля</h2>
                        <form method="POST" action="{{ url_for('auth.change_password') }}">
                            <div class="mb-3">
                                <label for="current_password" class="form-label">Текущий пароль:</label>
                                <input type="password" name="current_password" class="form-control" required>
                            </div>
                            <div class="mb-3">
                                <label for="new_password" class="form-label">Новый пароль:</label>
                                <input type="password" name="new_password" class="form-control" required>
                            </div>
                            <div class="mb-3">
                                <label for="confirm_password" class="form-label">Подтвердите новый пароль:</label>
                                <input type="password" name="confirm_password" class="form-control" required>
                            </div>
                            <button type="submit" class="btn btn-primary">Сменить пароль</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
