{% extends 'base.html' %}

{% block content %}
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <h2 class="text-center">Личный кабинет</h2>
                <p><strong>Имя:</strong> {{ current_user.first_name }}</p>
                <p><strong>Фамилия:</strong> {{ current_user.last_name }}</p>
                <p><strong>Логин:</strong> {{ current_user.login }}</p>
                <a class="btn btn-primary" href="{{ url_for('auth.change_password') }}">Сменить пароль</a>
                <a class="btn btn-primary" href="{{ url_for('auth.edit_user', user_id=user.id) }}" >Редактировать профиль</a>


            </div>
            <section class="reviews mb-5">
                <h2 class="mb-3 text-center text-uppercase font-weight-bold">Мои отзывы</h2>
                {% for review in reviews %}
                <div class="card mb-3 bg-secondary bg-opacity-10">
                    <div class="card-body">
                        <h5 class="card-title mb-3">{{ review.plastinka.name }}</h5>
                        <p class="card-text">Дата: {{ review.created_at }}</p>
                        <p class="card-text">Оценка: 
                            {% if review.rating == 0 %}
                                Ужасно
                            {% elif review.rating == 1 %}
                                Плохо
                            {% elif review.rating == 2 %}
                                Неудовлетворительно
                            {% elif review.rating == 3 %}
                                Удовлетворительно
                            {% elif review.rating == 4 %}
                                Хорошо
                            {% elif review.rating == 5 %}
                                Отлично
                            {% endif %}
                            </p>
                            
                        <p class="card-text">{{ review.text | safe }}</p>
                    </div>
                </div>
                {% endfor %}
            </section>
        </div>
    </div>
{% endblock %}
