{% extends 'base.html' %}

{% block content %}
<div class="container">
    <h1>Отзыв для пластинки "{{ plastinka.name }}"</h1>
    <div class="mb-3">
        <a href="{{ url_for('plastinkas.show', plastinka_id=plastinka.id) }}" class="btn btn-secondary">Назад к компазициям</a>
    </div>
      
    {% if reviews_all.items %}
        

        {% if reviews_all.pages > 1 %}
            <nav aria-label="Page navigation">
                <ul class="pagination">
                    {% if reviews_all.has_prev %}
                        <li class="page-item"><a class="page-link" href="{{ url_for('plastinkas.reviews', plastinka_id=plastinka.id, page=reviews_all.prev_num, sort_by=sort_by) }}">Назад</a></li>
                    {% else %}
                        <li class="page-item disabled"><a class="page-link" href="#">Назад</a></li>
                    {% endif %}
                    {% for page_num in range(reviews_all.page - 2, reviews_all.page + 3) %}
                        {% if page_num > 0 and page_num <= reviews_all.pages %}
                            {% if page_num == reviews_all.page %}
                                <li class="page-item active"><a class="page-link" href="#">{{ page_num }}</a></li>
                            {% else %}
                                <li class="page-item"><a class="page-link" href="{{ url_for('plastinkas.reviews', plastinka_id=course.id, page=page_num, sort_by=sort_by) }}">{{ page_num }}</a></li>
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                    {% if reviews_all.has_next %}
                        <li class="page-item"><a class="page-link" href="{{ url_for('plastinkas.reviews', plastinka_id=plastinka.id, page=reviews_all.next_num, sort_by=sort_by) }}">Вперед</a></li>
                    {% else %}
                        <li class="page-item disabled"><a class="page-link" href="#">Вперед</a></li>
                    {% endif %}
                </ul>
            </nav>
        {% endif %}
    {% else %}

    {% endif %}

    <!-- Поле для отзыва -->
    {% if current_user.is_authenticated %}
        {% if flag == False %}
            <section class="add-review mb-3">
                <h2 class="mb-3 text-center text-uppercase font-weight-bold">Оставить отзыв</h2>
                <form method="post" action="{{ url_for('plastinkas.add_review', plastinka_id=plastinka.id) }}">
                    <div class="mb-3">
                        <label for="rating" class="form-label">Оценка</label>
                        <select class="form-select" id="rating" name="rating" required>
                            <option value="" selected disabled hidden>Выберите оценку</option>
                            <option value="5">Отлично</option>
                            <option value="4">Хорошо</option>
                            <option value="3">Удовлетворительно</option>
                            <option value="2">Неудовлетворительно</option>
                            <option value="1">Плохо</option>
                            <option value="0">Ужасно</option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="text" class="form-label">Текст отзыва</label>
                        <textarea class="form-control" id="text" name="text" rows="5"></textarea>
                    </div>                    
                    <div class="text-center">
                        <button type="submit" class="btn btn-primary">Оставить отзыв</button>
                    </div>                    
                </form>
            </section>
        {% endif %}
    {% endif %}
</div>
{% endblock %}
